@{
    ViewData["Title"] = "ConfigurarJuego";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Configuracion</title>
        <link rel="Stylesheet" href="site.css">
    </head>
    <body>
        <form method="post" action='@Url.Action=("Juego")'>
            <input type="text" name="username" placeholder="ingrese su nombre de usuario">
            <h1>Elija la categoria</h1>
            <button onclick="function "class="orange" type="button" class="btn btn-secondary">Deportes</button>
            <button class="pink"type="button" class="btn btn-secondary">Entretenimiento</button>
            <button class="blue"type="button" class="btn btn-secondary">Gaming</button>
            <br>
            <button class="red" type="button" class="btn btn-secondary">Artes</button>
            <button class="green" type="button" class="btn btn-secondary">Ciencias</button>
            <button class="purple" type="button" class="btn btn-secondary">Todas</button>
            <br>
            <h1>Elija la dificultad</h1>
            <button class="green" type="button" class="btn btn-secondary">Facil</button>
            <button class="yellow" type="button" class="btn btn-secondary">Medio</button>
            <button class="orange" type="button" class="btn btn-secondary">Dificil</button>
            <button class="red" type="button" class="btn btn-secondary">Averno eterno</button>
            <button class="purple" type="button" class="btn btn-secondary">Todas</button>
            <br>
            <button class="ligt" type="submit" class="btn btn-secondary">Jugar</button>
        </form>
    </body>
</html>