@{
    ViewData["Title"] = "ConfigurarJuego";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Configuracion</title>
        <link rel="Stylesheet" href="site.css">
    </head>
    <body>
    <form method="post" action="Juego.cshtml">
 <input type="text" name="username" placeholder="ingrese su nombre de usuario">
    </form>
    <h1>Elija la categoria</h1>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary">Deportes</button>
          <button type="button" class="btn btn-secondary">Entretenimiento</button>
          <button type="button" class="btn btn-secondary">Gaming</button>
          <br>
          <button type="button" class="btn btn-secondary">Artes</button>
          <button type="button" class="btn btn-secondary">Ciencias</button>
          <button type="button" class="btn btn-secondary">Todas</button>
        </div>
    <h1>Elija la dificultad</h1>
    <button type="button" class="btn btn-secondary">Facil</button>
    <button type="button" class="btn btn-secondary">Medio</button>
    <button type="button" class="btn btn-secondary">Dificil</button>
    <button type="button" class="btn btn-secondary">Averno eterno</button>
    <button type="button" class="btn btn-secondary">Todas</button>
    </body>
</html>