@{
    ViewData["Title"] = "Creditos";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Creditos</title>
        <link rel="Stylesheet" href="site.css">
    </head>
    <body>
        <img src="img/Logo.JPG">
        <h1>Este juego fue programado y diseñado por los desarrolladores Blaustein, Listingart y Lifschitz</h1>
        <div>
            <img src="img/Logo.JPG">
            <img src="img/Logo.JPG">
            <img src="img/Logo.JPG">
        </div>
    </body>
</html>