@{
    ViewData["Title"] = "Creditos";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Creditos</title>
        <link rel="Stylesheet" href="site.css">
    </head>
    <body>
        <img src="img/credito.jpg">
        <h1>Este juego fue programado y diseñado por los desarrolladores Blaustein, Listingart</h1>
        <img style="width: 40rem;" src="img/Pibardos.jpg">
        <p>Foto de los desarrolladores y Furlan</p>
    </body>
</html>