@{
    ViewData["Title"] = "Fin";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Fin</title>
        <link rel="Stylesheet" href="site.css">
    </head>
    <body>
        <h1>Fin del juego</h1>
        <img src="img/credito.jpg">
        <h1>Gracias por jugar + @ViewBag.username</h1>
        <h1>Respuestas correctas: + @ViewBag.correctas</h1>
        <h1>Puntaje: + @ViewBag.puntaje</h1>
    </body>
</html>