@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="Stylesheet" src="site.css">
    </head>
    <body>
        <img src="img/fotito.jpg">
        <br>
        <p>Bienvenido a Preguntadort, este es una copia de preguntados, suponemos que conoces las reglas. Igualmente, este es mejor, porque lo programamos nosotros :)</p>
        <a href='@Url.Action("ConfigurarJuego")'><button class="ligt">Jugar</button></a>
    </body>
</html>
