@{
    ViewData["Title"] = "Index";
}
<<<<<<< HEAD
<body>
    <header>

    <header>
    <
</body>
=======
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="Stylesheet" src="site.css">
    </head>
    <body>
        <img src="img/Logo.JPG">
        <br>
        <p>Bienvenido a Preguntadort, este es una copia de preguntados, suponemos que conoces las reglas. Igualmente, este es mejor, porque lo programamos nosotros :)</p>
        <a href='@Url.Action("ConfigurarJuego")'><button>Jugar</button></a>
    </body>
</html>
>>>>>>> d9b37fc7ecd0fe15469646ae05ef4bf7fb775340
