@{
    ViewData["Title"] = "Juego";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Juego</title>
        <link rel="Stylesheet" href="site.css">
    </head>
   <body>
        <img src="img/@ViewBag. ">
        <form method="post" action="Juego.cshtml">
            <h1>pregunta</h1>
            <input type="radio">
        </form>
    </body>
</html>