@{
    ViewData["Title"] = "Incorrecta";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Incorrecta</title>
        <link rel="Stylesheet" href="site.css">
    </head>
   <body>
        <div class="center">
            <h1>La respuesta es incorrecta!</h1>
            <img src="img/pulgarabajo.jpg">
        </div>
    </body>
</html>