@{
    ViewData["Title"] = "Correcta";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Correcta</title>
        <link rel="Stylesheet" href="site.css">
    </head>
   <body>
        <div class="center">
            <h1>La respuesta es Correcta!</h1>
            <img src="img/pulgararriba.jpg">
        </div>
    </body>
</html>