html
{
  font-size: 14px;
  position: relative;
  min-height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px)
{
  html
  {
    font-size: 16px;
  }
}

body
{
  background-color: rgb(163, 189, 197);
  text-align: center;
  background-image: url("https://img.freepik.com/fotos-premium/fondo-abstracto-3d-luces-neon_441797-172.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav
{
  position: relative;
  top: -10px;  
  left: -10px;
  width: 101%;
  background-color: #9aeaec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

nav ul
{
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav h1
{
  display: flex;
  margin-left: -130px;
}
  
nav li 
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  border-right: solid rgb(77, 224, 155) 2px;
}
  
nav li a
{
  color: white;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover 
{
  background-color: #138c91;
}

nav img
{
  display: flex;
  justify-content: flex-end;
  height: 5rem;
  width: 6rem;
}

img
{
  height:25rem;
  width:25rem;   
}

input[type="button"]
{
  background-color: #9aeaec;
  margin-top: 1rem;
  height: 3rem;
  width: 8rem;
}

p, h1
{
  color: white;
}

.creditos div
{
  align-content: center;
}

.navar
{
  height: 5rem;
  width: 6rem;
}

.ligt
{
  margin-top: 2rem;
  background-color: #9aeaec;
}

.ligt:hover
{
  background-color: #93d2d3;
}

.center
{
  width: 54%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resp
{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.right
{
  display: flex;
  justify-content: flex-start;
}