html
{
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px)
{
  html
  {
    font-size: 16px;
  }
}

body
{
  background-color: rgb(163, 189, 197);
  margin: 20px 60px 0px 20px;
  text-align: center;
  background-image: url("img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav
{
  position: sticky;
  top:0;
}

nav ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9aeaec;
}
  
nav li 
{
  float: left;
  height: 3.3rem;
  border-left: solid rgb(77, 224, 155) 2px;
}
  
nav li a
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover 
{
  background-color: #138c91;
}

img
{
  height:25rem;
  width:25rem;
    
}
.ConfigurarJuego button
{
  height:10rem;
  width:15rem;
}

.creditos div
{
  align-content: center;
}

.navar
{
  height: 5rem;
  width: 6rem;
}

.orange
{
  background-color: #f3861f;
}

.orange:hover
{
  background-color: #c96509f6;
}
.pink
{
  background-color: #f31fb3;
}

.pink:hover
{
  background-color: #c00d93f3;
}
.blue
{
  background-color: #0b70e4;
}

.blue:hover
{
  background-color: #117adba6;
}
.red
{
  background-color: #e91212;
}

.red:hover
{
  background-color: #aa0909e1;
}
.green
{
  background-color: #20c728;
}

.green:hover
{
  background-color: #07a71ce1;
}

.purple
{
  background-color: #c91ff3;
}

.purple:hover
{
  background-color: #b10ab1ef;
}

.yellow
{
  background-color: #f8e80d;
}

.yellow:hover
{
  background-color: #ccbf0a;
}
.ligt
{
  background-color: #9aeaec;
}

.ligt:hover
{
  background-color: #138c91;
}

button
{
  margin-top: 1rem;
  height: 3rem;
  width: 8rem;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}